.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}

.Letra1 {
  font-family: Fantasy, Copperplate;
}

.Letra2 {
  font-family: Cursive, "Lucida Handwriting";
}

.Letra3 {
  font-family: Serif, Georgia;
}

.Letra4 {
  font-family: Monospace, "Lucida Console";
}


#figCBottom1 {
  font-family: Fantasy, Copperplate;
}

#figCBottom2 {
  font-family: Cursive, "Lucida Handwriting";
}

#figCBottom3 {
  font-family: Serif, Georgia;
}

#figCBottom4 {
  font-family: Monospace, "Lucida Console";
}